.quiz-card {
  margin: 1rem 2rem;
  border: 0.1px solid gray;
  padding: 0.5rem 0;
}

.quiz-card > img {
  width: 90%;
}

.quiz-card > h3 {
  margin: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz-card > button {
  width: 40%;
  border: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: lightsalmon;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}